<% if current_user && current_user.admin? %>
<h1><%= t('greeting_admin') %></h1>

<% elsif current_user %>
        <h1><%= t('greeting_client') %></h1>

<% else %>
    <h1><%= t('greeting_guest') %></h1>
<% end %>