<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @apartment_type.title %>
</p>


<%= link_to 'Edit', edit_apartment_type_path(@apartment_type) %> |
<%= link_to 'Back', apartment_types_path %>
